.vscode/**
.vscode-test/**
.git/**
out/test/**
src/**
test/**

**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.vsix
**/*.md
**/*.txt

images/file-browser.gif
vsc-extension-quickstart.md
.gitignore
